{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
<link rel="shortcut icon" href="{% static "favi.ico" %}"/>


<style type="text/css">
	
body{
    background: url({% static "pickles.jpg" %}) no-repeat center center fixed;
    -webkit-background-size cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #444;   
}

.vertical-offset-100{
    padding-top:100px;
}

</style>

<title>PicklePoc</title>

<body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong><font color="red">Pickled!!</font></strong></h1>
                            <div class="description">
                            	<p>
	                            	<img src="{% static "cat.gif" %}"></img>
                            	</p>
                            </div>
                        </div>
                    </div>

                    
    </body>
